@import "../../foundation/scss/foundation/components/grid";

$nav-direction: $default-float !default;

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.genesis-nav-menu {
    @include grid-column($total-columns, $float:$nav-direction);
    text-align: $nav-direction;

    .menu-item {
        display: block;

        @media #{$medium-up} {
            display: inline-block;
        }

        a {
            display: block;
            padding-top: $button-sml;
            padding-#{$opposite-direction}: $button-sml * 2;
            padding-bottom: $button-sml + rem-calc(1);
            padding-#{$default-float}: $button-sml * 2;
        }
    }
}